@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url('assets/background.jpg');
    /* background-image: url('assets/background1.jpg'); */
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.game-info{
    color: white;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(255,255,255,0.15); */
    background-color: rgb(0 0 0 / 50%);
    border-radius: 1rem;
    border: 1px solid rgb(0 0 0 / 50%);;
    padding: 0.3rem 3rem;
    text-align: center;
    backdrop-filter: blur(7px);

}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    /* background-color: rgba(255,255,255,0.15); */
    background-color: rgb(0 0 0 / 50%);
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    backdrop-filter: blur(7px);
    aspect-ratio: 1/1;
}

.box{
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: grid;
    place-items: center;
    transition: all 150ms ease-in-out;
    /* position: relative; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.box1, .box2, .box4, .box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box3, .box6{
    border-bottom: 2px solid white;
}

.box7, .box8{
    border-right: 2px solid white;
}

.btn{
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0 0 0 / 50%);
    border-radius: 1rem;
    border: 1px solid rgb(0 0 0 / 50%);;
    padding: 0.5rem 2rem;
    display: none;
    cursor: pointer;
    pointer-events: none;
}

.btn.active{
    display: flex;
    pointer-events: all;
}

.win{
    background-color: rgba(0, 255, 0, 0.76);
}